<div id="<%= dom_id branch %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">User:</h4>
    <p class="leading-none"><%= branch.user_id %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Slug:</h4>
    <p class="leading-none"><%= branch.slug %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Parent:</h4>
    <p class="leading-none"><%= branch.parent_id %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Child:</h4>
    <p class="leading-none"><%= branch.child_id %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Mycategory:</h4>
    <p class="leading-none"><%= branch.mycategory_id %></p>
  </div>
</div>
