<!--div id="branches" class="flex flex-col" style="gap: 2rem;">
  <% @branches.each do |branch| %>
    <div class="flex flex-col items-start gap">
      <%#= render branch %>
      <%= link_to "Show this branch", branch, class: "btn" %>
    </div>
  <% end %>
</div-->
<% if action_name == "edit" %>
  <h3 class="font-bold text-2xl mbe-4"> Aggiungi Genitore a <%= Branch.find(params[:edit_child_id_for_link]).slug %>
  </h3>
<% end %>
<table class="w-full border-collapse border border-gray-300">
  <thead>
    <tr class="bg-gray-100">
      <th class="border border-gray-300 p-2 text-left">User email</th>
      <th class="border border-gray-300 p-2 text-left">id</th>
      <th class="border border-gray-300 p-2 text-left">Icon</th>
      <th class="border border-gray-300 p-2 text-left">Nome</th>
      <th class="border border-gray-300 p-2 text-left">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <% @branches.each do |branch| %>
      <tr class="hover:bg-gray-50">
        <td class="border border-gray-300 p-2"><%= branch.user.email_address %></td>
        <td class="border border-gray-300 p-2"><%= branch.id %></td>
        <td class="border border-gray-300 p-2"><%= branch.icon %></td>
        <td class="border border-gray-300 p-2">
          <% if branch.parent_id %>
            <%= Current.user.branches.find(branch.parent_id).slug  %>
            ->
          <% end %>
          <strong><%= branch.slug %></strong>
          <% if branch.child_id %>
            -> <%= Current.user.branches.find(branch.child_id).slug  %>
          <% end %>
        </td>
        <td class="border border-gray-300 p-2">
          <% if action_name == "edit" %>
            <%= link_to "+ genitore", edit_branch_path(params[:edit_child_id_for_link], parent_id_for_link: branch.id ), class:"btn" %>
          <% else %>
            <div class="flex">
              <%= link_to "mostra", mappa_branch_path(branch), class: "btn" %>
              <%= link_to "Modifica", edit_branch_path(branch), class: "btn" %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
