<div class="flex flex-wrap items-center gap mb-2" >
  <%= link_to "<- ", branches_path, class: "btn" %>
  <h1 class="text-xl font-bold">
    <%= @branch.slug %><%= link_to "+ ðŸ”½", new_branch_path(parent_id: @branch.id), class: "btn m-4" %></h1>
  <%= link_to "Edit", edit_branch_path(@branch), class: "btn" %>
  <%= button_to "Elimina", @branch, method: :delete, class: "btn", data: { turbo_confirm: "Are you sure?" } %>
</div>
<!--- stato -->
<div class="flex gap-2 m-2 items-center">
  <!-- CONTENT (Content vs Structure) -->
  <%= turbo_frame_tag "branch_content_#{@branch.id}" do %>
    <%= form_with url: branch_path(@branch), method: :patch,
    scope: :branch,
    data: { turbo_frame: "branch_content_#{@branch.id}" } do |f| %>
      <%= hidden_field_tag "branch[content]", !@branch.content? %>
      <%= f.submit (@branch.content? ? "ðŸ“ Contenuto (clic per rendere struttura)" : "ðŸ“ Struttura (clic per rendere contenuto)"),
      class: "m-2 #{ @branch.content? ? 'btn-primary' : 'btn-outline' }" %>
    <% end %>
  <% end %>
  <!-- PUBLISHED -->
  <%= turbo_frame_tag "branch_published_#{@branch.id}" do %>
    <%= form_with url: branch_path(@branch), method: :patch,
      scope: :branch,
      data: { turbo_frame: "branch_published_#{@branch.id}" } do |f| %>
      <%= hidden_field_tag "branch[published]", !@branch.published? %>
      <%= f.submit (@branch.published? ? "âœ… Pubblicato (clic per nascondere)" : "ðŸš« Nascosto (clic per pubblicare)"),
        class: "m-2 #{ @branch.published? ? 'btn-success' : 'btn-secondary' }" %>
    <% end %>
  <% end %>
  <!-- VISIBILITY -->
  <%= turbo_frame_tag "branch_visibility_#{@branch.id}" do %>
    <%= form_with model: @branch, url: branch_path(@branch), method: :patch,
    data: { turbo_frame: "branch_visibility_#{@branch.id}" } do |f| %>
      <div class="flex items-center gap-2 m-2">
        <span>
          <%=
          case @branch.visibility
          when "privato"
            "ðŸ”’"
          when "pubblico"
            "ðŸŒ"
          when "iscritti"
            "ðŸ‘¥"
          else
            "â“"
          end
        %>
        </span>
        <%= f.label :visibility, nil, class: "sr-only" %>
        <%= f.select :visibility,
          Branch.visibilities.keys.map { |v| [t("activerecord.attributes.branch.visibility.#{v}"), v] },
          {}, { onchange: "this.form.requestSubmit()", class: "select" } %>
      </div>
    <% end %>
  <% end %>
  <!-- STATO -->
  <%= turbo_frame_tag "branch_stato_#{@branch.id}" do %>
    <%= form_with model: @branch, url: branch_path(@branch), method: :patch,
    data: { turbo_frame: "branch_stato_#{@branch.id}" } do |f| %>
      <div class="flex items-center gap-2 m-2">
        <span>
          <%=
          case @branch.stato
          when "bozza"
            "ðŸ“"
          when "organizzata"
            "ðŸ“¦"
          when "corretto"
            "âœ…"
          else
            "â“"
          end
        %>
        </span>
        <%= f.label :stato, nil, class: "sr-only" %>
        <%= f.select :stato,
          Branch.statos.keys.map { |s| [t("activerecord.attributes.branch.stato.#{s}"), s] },
          {}, { onchange: "this.form.requestSubmit()", class: "select" } %>
      </div>
    <% end %>
  <% end %>
</div>
