<% content_for :title, "Editing branch" %>
<% if params[:edit_child_id_for_link].nil? %>
  <div class="flex">
    <div class="w-1/2 p-2">
      <h1 class="font-bold text-4xl mbe-4">Modifica branch <%= @branch.slug %></h1>
      <%= render "form", branch: @branch %>
      <div class="inline-flex flex-wrap items-center gap mbs-2" style="--row-gap: .5rem">
        <%= link_to "Show this branch", @branch, class: "btn" %>
        <%= link_to "Back to branches", branches_path, class: "btn" %>
        <%= button_to "Elimina", @branch, method: :delete, class: "btn", data: { turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
    <div class="w-1/2 p-2">
      <% if params[:parent_id_for_link].present? %>
        <%= render "branches/form_link_parent_new",
      branch: Branch.new(parent_id: @branch.id),
      parent: @branch,
      class: "btn" %>
      <% else %>
        <%= link_to '+ link parent id', edit_branch_path(@branch, edit_child_id_for_link: @branch.id), class:"btn" %>
      <% end %>
      <!-- Genitore (livello 0) -->
      <% if @branch_link_parent %>
        <turbo-frame id="branch_parent_<%= @branch.id %>">
          <% @branch_link_parent.each do |child| %>
            <% genitore = Branch.find_by(id: child.parent_id) %>
            <% if genitore.present? %>
              <pre>   ├── <%= link_to child.slug , edit_branch_path(child) %> ── <%= link_to genitore.slug, edit_branch_path(Branch.find(child.parent_id)) %></pre>
            <% end %>
          <% end %>
        </turbo-frame>
      <% end %>
      <hr>
      <div class="tree-node">
        <div class="flex">
          <% if @branch.parent_id %>
            <span class="m-1">
              <% or_parent = Current.user.branches.find(@branch.parent_id)  %>
              <%= link_to or_parent.slug, edit_branch_path(or_parent) %> ->  </span>
          <% end %>
          <h1 class="font-bold text-xl">
            <strong><%= @branch.slug %></strong>
          </h1>
          <% if Current.user.branches.where(parent_id: @branch.id).count == 0 %>
            <% if @branch.child_id.nil? %>
              <span class="m-1">  -> </span>
              <%= link_to '+ figlio link', edit_branch_path(@branch, edit_child_id_for_link: @branch.id), class:"btn" %>
            <% else %>
              <span class="m-1">  -> </span>
              <%= link_to  Current.user.branches.find(@branch.child_id).slug, edit_branch_path(Current.user.branches.find(@branch.child_id))  %>
            <% end %>
          <% end %>
        </div>
      </div>
      <hr>
      <% if @branch.child_id.nil? %>
        <!-- Turbo Frame per figli -->
        <!--turbo-frame id="branch_children_<%= @branch.id %>"-->
        <div class="children">
          <% @branch.children.where(field: false).each do |child| %>
            <div class="child-node">
              <pre>   ├── <%= link_to child.slug, edit_branch_path(child) %></pre>
            </div>
          <% end %>
          <!--/div-->
        </turbo-frame>
        <!-- Form per aggiungere figlio -->
        <% if params[:new_children].present? %>
          <%= render "branches/form_children_new", branch: Branch.new(parent_id: @branch.id), parent: @branch %>
          <%= link_to 'Annulla', edit_branch_path(@branch), class:"btn" %>
        <% else %>
          <%= link_to '+ figli', edit_branch_path(@branch, new_children: true), class:"btn" %>
        <% end %>
      <% end %>
    </div>
    <br>
    <hr>
    <h1>Etichette field:</h1>
    <% @branch.children.where(field: true).each do |child| %>
      <div class="child-node">
        <pre>   ├── <%= link_to child.slug, edit_branch_path(child) %></pre>
      </div>
    <% end %>
    <% if params[:new_children_field].present? %>
      <%= render "branches/form_children_new", branch: Branch.new(parent_id: @branch.id, field: false), parent: @branch %>
      <%= link_to 'Annulla', edit_branch_path(@branch), class:"btn" %>
    <% else %>
      <%= link_to '+ Etichetta', edit_branch_path(@branch, new_children_field: true, field: true), class:"btn" %>
    <% end %>
  </div>
<% else %>
  <%= link_to 'Annulla', edit_branch_path(@branch), class:"btn" %>
  <%= render "index" %>
<% end %>
