<div class="flex">
  <a href="<%= url_for(controller: 'api/v1/trees', action: 'show', id: @branch.id, only_path: false) %>" class="mi-2 btn">
    Vai all'api per vedere l'albero pubblico
  </a>
  <div class="input input--actor flex items-center gap" data-controller="copyable-input">
    <%= text_field_tag "copyable_input", url_for(controller: 'api/v1/trees', action: 'show', id: @branch.id, only_path: false), readonly: "readonly", data: { copyable_input_target: "input" } %>
    <button type="button" class="btn btn--plain" data-copyable-input-target="button" data-action="copyable-input#copy">
      <%= image_tag "copy.svg", size: 20, aria: { hidden: true } %>
      <span class="sr-only">Copy to clipboard</span>
    </button>
  </div>
</div>
<%= render 'branches/show' %>
<div class="prose container">
  <div class="flex">
    <h4>Label</h4>
    <%= link_to "+ Label", new_branch_path(parent_id: @branch.id, label: true), class: "btn m-2" %>
  </div>
  <table class="w-full border-collapse border border-gray-300">
    <tbody>
      <% @branch.children.where(label: true).each do |branch| %>
        <div class="flex">
          <tr class="hover:bg-gray-50">
            <td class="border border-gray-300 p-2">id: <%= branch.id %></td>
            <td class="border border-gray-300 p-2">
              <strong><%= branch.slug %></strong>
            </td>
            <td class="border border-gray-300 p-2">
              <% if action_name == "edit" %>
                <%= link_to "+ genitore", edit_branch_path(params[:edit_child_id_for_link], parent_id_for_link: branch.id ), class:"btn" %>
              <% else %>
                <div class="flex">
                  <%= link_to "mostra", mappa_branch_path(branch), class: "btn mi-2" %>
                  <%= link_to "Modifica", edit_branch_path(branch), class: "btn mi-2" %>
                </div>
              <% end %>
            </td>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>
  <%= link_to "⬇️ Scarica JSON", download_tree_branch_path(@branch), data: { turbo: false }, class: "btn" %>
  <pre><%= JSON.pretty_generate(full_tree_to_hash(@branch)) %></pre>
</div>
