<div id="<%= dom_id category %>" class="flex flex-col gap">
  <%# Positive %>
  <div class="flex">
    <%= button_to "Copia in MyCategory", copy_to_mycategory_category_path(category), method: :post, class:"btn btn-primary" %>
    <%= link_to category, class:"m-2" do %>
      <div class="flex">
        <div class="badge badge--positive"><%= category.icon %>&nbsp;<%= category.name %>
        </div>
        <p class="leading-none">&nbsp;&nbsp;<%= category.description %></p>
      </div>
    <% end %>
  </div>
</div>
