<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class="header-layout">
    <header id="header">
      <div class="container flex">
        <%= link_to root_path do %>
          <h1 class="font-bold text-xl">Flowpulse Branch</h1>
        <% end %>
        <%= link_to 'Branches', branches_path, class:"m-1" %>
        <%= link_to 'Business', businesses_path, class:"m-1" %>
        <%= link_to 'About', about_path, class:"m-1" %>
      </div>
    </header>
    <main id="main">
      <% if notice.present? %>
        <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
