<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Flowpulse Branch" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "css-zero/reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/variables", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/utilities", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <title><%= content_for?(:title) ? yield(:title) : "Titolo default" %></title>
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : 'Descrizione default del sito' %>">
    <!-- Open Graph per Facebook, WhatsApp, LinkedIn -->
    <meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : 'Titolo di default' %>" />
    <meta property="og:description" content="<%= content_for?(:og_description) ? yield(:og_description) : 'Descrizione generica' %>" />
    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : image_url('default-og.jpg') %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= content_for?(:og_title) ? yield(:og_title) : 'Titolo di default' %>" />
    <meta name="twitter:description" content="<%= content_for?(:og_description) ? yield(:og_description) : 'Descrizione generica' %>" />
    <meta name="twitter:image" content="<%= content_for?(:og_image) ? yield(:og_image) : image_url('default-og.jpg') %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body class="header-layout">
    <header id="header">
      <div class="container flex">
        <%= link_to root_path do %>
          <h1 class="font-bold text-xl">Flowpulse Branch</h1>
        <% end %>
        <%= link_to 'Branches', branches_path, class:"m-1" %>
        <%= link_to 'Business', businesses_path, class:"m-1" %>
        <%= link_to 'About', about_path, class:"m-1" %>
      </div>
    </header>
    <main id="main">
      <% if notice.present? %>
        <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
